.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.orders-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.orders-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.orders-box p {
  color: #fff;
}

table {
  color: #fff;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background: rgba(0, 0, 0, 0.5);
}

td {
  text-align: center;
}

.green {
  background-color: rgb(27, 131, 41);
}

.red {
  background-color: rgb(124, 40, 40);
}

.wrap {
  position: relative;
  margin-top: 25px;
}

.right {
  position: absolute;
  right: 0;
}
