body {
  /* height: 100%; */
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  padding-bottom: 110px;
}

.ui.app-header {
  height: 100px;
  background-color: #2736778c; /* #bf232e */
  border-radius: 0;
}

.ui.app-header-text-color {
  /* color: #fff; */
}

.user-avatar {
  display: block !important;
  border-radius: 50%;
  margin-left: 10px;
}

.account-dropdown {
  display: block !important;
  border-radius: 4px;
  padding: 0 4px;
  margin-top: 10px;
  font-size: 12px;
}

.app-content {
  /* min-height: 100%; */
  /* margin-bottom: -50px; */
  padding: 0 15px;
}

.green {
  background-color: rgba(3, 165, 3, 0.582);
}

.red {
  background-color: rgba(216, 10, 10, 0.712);
}

.ui.table td.no-orders {
  text-align: center;
}

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* left: 0; */
  /* right: 0; */
  height: 110px;
  /* background-color: #273677; */
  background-color: #bf232d69;
  /* color: #fff; */
  padding: 30px;
}

.about,
.social,
.contact {
  display: inline-block;
  width: 33%;
  /* height: 100%; */
  text-align: center;
}

.about {
  /* background-color: #bf232d69; */
  border-right: 1px solid;
}

.social {
  /* background-color: chartreuse; */
  border-right: 1px solid;
}

.contact {
  /* background-color: blueviolet; */
}

@media only screen and (max-width: 1024px) {
  .app-wrapper {
    padding-bottom: 270px;
  }

  .app-content {
    /* overflow-y: scroll; */
  }

  .about,
  .social,
  .contact {
    display: block;
    width: 100%;
    padding: 10px;
    border-right: 0;
    border-bottom: 1px solid;
  }

  .contact {
    border: 0;
  }

  .app-footer {
    height: 270px;
  }
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin: 0 !important;
  }
}
